<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="284" height="271" border="1">
    <tr>
      <td width="274" height="226"><p><a href="approvehospitel">approve hospitals</a></p>
      <p><a href="blockorunblockhospital">Block/ Unblock hospitals</a></p>
      <p><a href="Managebloodgroup">Add/ manage blood group</a></p>
      <p><a href="ViewFeedback">view feedback</a></p>
      <p><a href="viewcomplaints">view complaints and reply</a></p>
      <p><a href="#">predict blood donation requirements</a></p>
      <p><a href="/">Logout</a></p>

     </td>
    </tr>
  </table>
</form>
</body>
</html>
