{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="519" height="193" border="1" class="table table-bordered">
    <tr>
      <td width="73" height="36">Name</td>
      <td width="99">Address</td>
      <td width="75">Phone</td>
      <td width="65">Email</td>
      <td width="65">&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;{{i.place }} {{ i.post }} {{ i.pin }}<br>{{ i.city }}<br>{{ i.state }}</td>
{#              <td>&nbsp;<a href="https://www.google.co.in/maps?q={{ i.latitude }},{{ i.longitude }}" class="btn btn-primary">track</a></td>#}

      <td>{{ i.phonno }}</td>
      <td>&nbsp;{{ i.email }}</td>
       {% if i.LOGIN.type == 'pending' %}
      <td><p><a href="accepthospital/{{i.LOGIN.id}}" class="btn btn-success">Accept</a></p><br>
          <p><a href="rejecthospital/{{ i.LOGIN.id }}" class="btn btn-danger">Reject</a></td>

          {% elif i.LOGIN.type == 'hospital' %}
         <td>ACCEPTED</td>
      {% else %}
          <td>REJECTED</td>
      {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
<p>&nbsp;</p>
</body>
{% endblock %}
