{% extends 'bloodindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/sendresponsebb">
  <table class="table table-bordered" align="center">
    <tr>
      <td align="right"><b>Response</b></td>
      <td >
        <textarea name="textarea" class="form-control" required pattern="[A-Z a-z.]{1,}"></textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
          <input type="submit" name="Submit" value="Send" />
        </td>
    </tr>
  </table>
</form>
</body>

{% endblock %}