{% extends 'hospitalindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/ViewsearchFeedback#get-started">
  <table width="287" height="166" border="1" class="table table-bordered ">
    <tr>
      <td height="37" colspan="4"><label>
        
        <div align="center">
          <input type="date" name="textfield" value="{{ dt   }}"required/>
          <input type="submit" name="Submit" value="Search" class="btn btn-secondary" />
          </div>
      </label></td>
    </tr>
    <tr>
      <td>Username</td>
      <td>Hospital</td>
      <td>Feedback</td>
      <td>Date</td>
    </tr>
      {% for i in val3 %}
    <tr>
      <td>{{ i.USER.firstname }} {{ i.USER.lastname }}</td>
      <td>{{ i.HOSPITAL.name }}</td>
      <td>{{ i.feedback }}</td>
      <td>&nbsp;{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table>
  <label></label>
</form>
</body>
{% endblock %}

