<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="354" border="1">
    <tr>
      <td width="50" height="36">name</td>
      <td width="72">address</td>
      <td width="72">location</td>
      <td width="57">phone</td>
      <td width="69">email</td>
    </tr>
      {% for i in val %}
    <tr>
      <td height="67">{{ i.name }}</td>
      <td>place:{{ i.HOSPITAL.place }}<br>post:{{ i.HOSPITAL.post }}<br>pin:{{ i.HOSPITAL.pin }}</td>
      <td>&nbsp;{{ i.latitude }},{{ i.longitude }}</td>
      <td>{{ i.phonno }}</td>
      <td>{{ i.email }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
